{% block content %}

<!-- Reviews -->
{% if post.ticket %}
<div class="article-metadata">
    <a class="mr-2" href="{% url 'review-detail' post.id %}">{{ post.user|title }} a publié une
        critique</a>
    <small class="text-muted d-flex justify-content-end">{{ post.time_created }}</small>
</div>
<h2 class="article-title">{{ post.headline}} {% if post.rating == 1 %}<span class="star-rating">&#11088;</span>
    {% elif post.rating == 2 %}<span class="star-rating">&#11088;&#11088;</span>
    {% elif post.rating == 3 %}<span class="star-rating">&#11088;&#11088;&#11088;</span>
    {% elif post.rating == 4 %}<span class="star-rating">&#11088;&#11088;&#11088;&#11088;</span>
    {% elif post.rating == 5 %}<span class="star-rating">&#11088;&#11088;&#11088;&#11088;&#11088;</span>
    {% endif %}
</h2>
<p class="article-content">{{ post.body }}</p>

<div class="media-body list-group-item mb-5">
    <a class="mr-2" href="{% url 'review-detail' post.id %}">{{ post.ticket.user|capfirst }} a demandé une
        critique</a>
    <h2><a class="article-title" href="#">{{ post.ticket.title }}</a></h2>
    <p class="article-content">{{ post.ticket.description }}</p>
</div>

{% else %}
<div class="article-metadata">
    <a class="mr-2" href="{% url 'review-detail' post.id %}">{{ post.user|title }} a publié une
        critique</a>
    <small class="text-muted d-flex justify-content-end">{{ post.time_created }}</small>
</div>
<h2 class="article-title">{{ post.headline}} {% if post.rating == 1 %}<span class="star-rating">&#11088;</span>
    {% elif post.rating == 2 %}<span class="star-rating">&#11088;&#11088;</span>
    {% elif post.rating == 3 %}<span class="star-rating">&#11088;&#11088;&#11088;</span>
    {% elif post.rating == 4 %}<span class="star-rating">&#11088;&#11088;&#11088;&#11088;</span>
    {% elif post.rating == 5 %}<span class="star-rating">&#11088;&#11088;&#11088;&#11088;&#11088;</span>
    {% endif %}
</h2>
<p class="article-content">{{ post.body }}</p>
{% endif %}

{% endblock content %}