{% extends "../base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <article class="media content-section ">
            <div class="media-body list-group-item mb-5">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ object.user|title }} a publié une critique</a>
                    <small class="text-muted d-flex justify-content-end">{{ object.time_created }}</small>
                    {% if object.user == user %}
                    <a class="btn btn-secondary btn-sm mt-1 mb-1"
                        href="{% url 'review-update' object.id %}">Modifier</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'review-delete' object.id %}">Supprimer</a>
                    {% endif %}
                </div>
                <h2 class="article-title">{{ object.headline}} - {{ object.rating }} <span
                        class="star-rating">&#11088;</span></h2>
                <p class="article-content">{{ object.body }}</p>
            </div>
        </article>
    </div>

    {% endblock content %}