{% extends "base.html" %}
{% block title %}Flux{% endblock title %}
{% block content %}


<div class="row">
    <div class="mt-5 col-lg-12">

        <a href="#" class="btn btn-info px-4 mb-5 ">Demander une critique</a>
        <a href="#" class="btn btn-info px-5 mb-5 float-right">Créer une critique</a>

    </div>

    <!-- Reviews -->
    {% for post in reviews %}
    <div class="col-md-12">
        <article class="media content-section ">
            <div class="media-body list-group-item mb-5">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'review-detail' post.id %}">{{ post.user|title }} a publié une
                        critique</a>
                    <small class="text-muted d-flex justify-content-end">{{ post.time_created }}</small>
                </div>
                <h2 class="article-title">{{ post.headline}} - {{ post.rating }} <span
                        class="star-rating">&#11088;</span></h2>
                <p class="article-content">{{ post.body }}</p>
            </div>
        </article>
    </div>
    {% endfor %}

    <!-- Tickets -->
    {% for post in tickets %}
    <div class="col-md-12">
        <article class="media content-section ">
            <div class="media-body list-group-item mb-5">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'ticket-detail' post.id %}">{{ post.user|title }} a demandé une
                        critique</a>
                    <small class="text-muted d-flex justify-content-end">{{ post.time_created }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.description }}</p>
                <img src="static/ikigai.jpg">
            </div>
        </article>
    </div>
    {% endfor %}


    {% endblock content %}