{% extends "base.html" %}
{% block title %}Abonnements{% endblock title %}
{% block content %}

<!-- Follow users -->
<div class="row">
    <h2> Suivre d'autre utilisateurs</h2>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Nom d'utilisateur" style="text-align: center"
            aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Envoyer</button>
        </div>
    </div>
</div>

<!-- Subscribe to -->
<h2>Abonnements</h2>
<div class="row">
    <div class="input-group mb-3">
        <h5><a href="#" class="profile-link">Sophia Page</a></h5>
        <div class="col-12">
            <button class="btn btn-outline-secondary float-right" type="button">Envoyer</button>
        </div>
    </div>
</div>

<!-- Subscribers -->
<h2>Abonnés</h2>
<p>test user</p>

{% endblock content %}