{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <article class="media content-section ">
            <div class="media-body list-group-item mb-5">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ object.user|title }} a demandé une critique</a>
                    <small class="text-muted d-flex justify-content-end">{{ object.time_created }}</small>
                    {% if object.user == user %}
                    <a class="btn btn-secondary btn-sm mt-1 mb-1"
                        href="{% url 'review-update' object.id %}">Modifier</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'review-delete' object.id %}">Supprimer</a>
                    {% endif %}
                </div>
                <h2><a class="article-title" href="#">{{ object.title }}</a></h2>
                <p class="article-content">{{ object.description }}</p>
                <img src="static/ikigai.jpg">
            </div>
        </article>
    </div>

    {% endblock content %}