{% extends "reviews/review.html" %}

{% block content %}


<div class="article-metadata">
    <a class="mr-2" href="{% url 'ticket-detail' post.id %}">{{ post.user|title }} a demandé une
        critique</a>
    <small class="text-muted d-flex justify-content-end">{{ post.time_created }}</small>
</div>
<h2><a class="article-title" href="#">{{ post.title }}</a></h2>
<p class="article-content">{{ post.description }}</p>
<img src="static/ikigai.jpg">
<div class="d-md-flex justify-content-md-end mr-3">
{% if post.review_from.count >= 1 %}
<a href"" class="btn btn-secondary px-4 ">Un utilisateur
    a répondu !</a>
{% else %}
<a href="{% url 'review-response' post.id%}" class="btn btn-info px-4">Créer
    une
    critique</a>
    </div>
{% endif %}
{% endblock content %}